<div class="jumbotron text-center">
  <h2>Learn new skills</h2>

  <!-- first groups stuff -->
  <div ng-controller="exploreController as explore">
     <div ng-controller="typeAheadController as taCtrl">
       <label>Search:<input type="text" class="form-control" ng-model="taCtrl.selected" typeahead="language for language in taCtrl.languages | filter:$viewValue"></label>
      </div>
      <!--
     <ul ng-show="explore.shouldShow">
      <li class="list-unstyled" ng-repeat="skill in explore.userSkills | filter:searchSkills"><a ng-click="explore.showUsers(skill)" class="lead">{{skill}}</a></li>
    </ul>
    <p class="text-danger">{{explore.err}}</p>
    <div ng-hide="explore.shouldShow">
    <h3 class="btn btn-default" ng-click="explore.toggleView()">See all skills</h3>
    <ul class="list-unstyled">
      <li ng-repeat="user in explore.usersWithSkill | filter:searchSkills">
        <h4>{{user.username}}</h4>
        <ul class="list-unstyled">
          <h5>What {{user.username}} can teach you:</h5>
          <li ng-repeat="offer in user.offer">{{offer}}</li>
          <h5>What {{user.username}} wants to learn:</h5>
          <li ng-repeat="want in user.want">{{want}}</li>
          <h5>Get in touch with {{user.username}}:</h5>
          <li>{{user.email}}</li>
        </ul>
      </li>
    </ul>
    </div>  -->

   <!-- Jake's stuff -->
       <input type="button" value="most common skills" ng-click="explore.getSkillStats()" />
  <!--   <div class="graphDiv">
       <p>graph goes here</p>
       <canvas height="100" width: "100" id="myChart"></canvas>
       <script>
         var chartFunc = function(){
           var ctx = document.getElementById("myChart").getContext("2d");
           var myPieChart = new Chart(ctx).Pie(explore.dataSets, explore.pieOptions);
         }
       </script>   -->

     <div class="grid js-masonry" data-masonry-options='{
       'itemSelector': '.grid-item',
       'percentPosition': true,
       'columnWidth':
       '.grid-sizer',
       'isFitWidth': true
     }'>
      <!-- uses width of first item for relative responsive sizing -->
       <div class="grid-sizer">
       </div>
        <div class="grid-item" ng-repeat="entry in explore.tally" ng-style="{'font-size': entry[1] * 10 + 'px'}">
        {{ entry[0] }}
        </div>
     </div>

 <!-- <div>
  <div>
      <a ui-sref="explore.chart"></a>
  </div> -->

<!-- </div> -->
</div>