<div class="jumbotron text-center">
  <h2>Log in</h2>

  <div ng-controller="loginController as login">
    <form>
      Username: <input type="text" ng-model="login.user.username" required />
      Password: <input type="password" ng-model="login.user.password" required /><br>
      <input type="submit" class="btn btn-primary buttonMargin" ng-click="login.doLogin()" />
    </form>
    <p class="text-danger">{{login.err}}</p>
    <a href="http://localhost:1337/auth/linkedin" ng-click="login.setAction()" ngtarget="_self"><button class="btn btn-default">Log in with LinkedIn</button></a>
  </div>
</div>
