div(ng-controller="subjectsController as subjects")
  .chosen-wants.animated.fadeInRight(ng-hide="subjects.chooseOffers")
    .row
      .col-lg-12
        h2 I would like to learn about:
        .all-wantsandoffers

          a.animated.bounceIn(href="#" ng-repeat="want in subjects.wants" ng-click="subjects.toggleWant(want)")

          a.animated.bounceIn(href="#" ng-repeat="want in subjects.wants" ng-click="subjects.toggleWant(want.skill, want.category)")

            span.glyphicon.glyphicon-remove
            | {{want.skill}}
    .row(ng-controller="typeAheadController as taCtrl")
      .col-md-4(ng-repeat="category in subjects.categories")
        h4 {{category}}
        .checkbox(ng-repeat="subject in subjects.sampleCategories[category]")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="subjects.wantsSkills.indexOf(subject) > -1"
            ng-click="subjects.toggleWant(subject, category)")
            | {{subject}}
        form.custom-form(ng-submit="subjects.toggleWant(subject, category)")
          input.form-control(type="text" ng-model="subject"  typeahead="language for language in taCtrl.allSubjects | filter:$viewValue" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-8
        .btn.btn-lg.btn-primary.btn-block.btn-select-subject(ng-click="subjects.chooseOffers = true") Submit Selections

  .chosen-offers.animated.fadeInRight(ng-show="subjects.chooseOffers")
    .row
      .btn.btn-sm.btn-default(ng-click="subjects.chooseOffers = false") Go Back
    .row
      .col-lg-12
        h2 I know a lot about:
        .all-wantsandoffers
          a.animated.bounceIn(href="#" ng-repeat="offer in subjects.offers" ng-click="subjects.toggleOffer(offer)")

          a.animated.bounceIn(href="#" ng-repeat="offer in subjects.offers" ng-click="subjects.toggleOffer(offer.skill, offer.category)")

            span.glyphicon.glyphicon-remove
            | {{offer.skill}}
    .row(ng-controller="typeAheadController as taCtrl2")
      .col-md-4(ng-repeat="category in subjects.categories")
        h4 {{category}}
        .checkbox(ng-repeat="subject in subjects.sampleCategories[category]")
          label
            input(type="checkbox" value="{{subject}}" ng-checked="subjects.offersSkills.indexOf(subject) > -1"
            ng-click="subjects.toggleOffer(subject, category)")
            | {{subject}}
        form.custom-form(ng-submit="subjects.toggleOffer(subject, category)")
          input.form-control(type="text" ng-model="subject"  typeahead="language for language in taCtrl2.allSubjects | filter:$viewValue" placeholder="Add Something Else")
          input.btn.btn-primary(type="submit" value="add")
      .col-md-8
        .btn.btn-lg.btn-primary.btn-block.btn-select-subject(ng-click="subjects.changePreferences()") Submit and Get Started